body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
}
h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}
h2 {
  text-align: center;
}
p {
  margin-bottom: 2em;
}
ol {
  padding: 0;
  margin-bottom: 3em;
}
ol li {
  display: inline;
}
ol li a {
  text-decoration: underline;
}
.linked::after {
  content: " >";
}
ul {
  margin-bottom: 4em;
}
